.header{
  background-color: rgb(40, 41, 83);
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}
.header h1{
  color: white;
  font-weight: 500;
  margin-right: 5px;
}
.header__navigation{
  display: flex;
  align-items: center;
  flex: 1;
  
}
.header__search{
  width: 95%;
  height: 30px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
}
.header__navigationSearch{
  display: flex;
  align-items: center;
  flex: 1;
  border-color: rgb(76, 111, 226) rgb(121, 160, 233) rgb(99, 211, 255);
  border-radius: 4px;
  padding: 3px;
  background-color: white;
}
.header__action{
  display: flex;
  align-items: center;
}
.header__action a{
  text-decoration: none;
}
.header__action > *{
  margin-right: 5px;
  margin-left: 5px;
}
.header__action  span{
  color: white;
}
.header__action > button{
  margin-left: 5px;
}
.header__Logged{
  display: flex;
  flex-direction: column;
}
.header__Logged small{
  font-size: 12px;
  color: white;
}
@media (max-width : 576px){
  .header h1{
    display: none;
  }
}